@charset "UTF-8";
/* 回答はここから */

ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

li {
    display: flex;
    list-style: none;
    margin: 0 30px;
    outline: 10px solid #655;
    background-color: #655;
    padding: 5px;

}

.outline {
    width: 200px;
    padding: 10px;
    background-color: #d2b48c;
    border-radius: 13px;
}